@media only screen and (max-width: 738px) {
    /* ------------------------------------------------------- */
    /* general */
    /* ------------------------------------------------------- */
    .app, .cover-page, .projects, .footer {
        margin: 0;
    }
    .app {
        width: 100%;
    }
    .main-header {
        width: 90%;
        justify-content: space-between;
    }
    .projects {
        width: 100%;
    }
    .footer {
        width: 100%
    }
    /* ------------------------------------------------------- */
    /* main-header */
    /* ------------------------------------------------------- */
    #main-menu {
        background-color: var(--white-color);
        top: 0;
        right: -100vw;
        position: fixed;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 50vw;
        grid-template-rows: repeat(7, 90px);
        justify-content: center;
        align-items: center;
        z-index: 20;
        overflow: hidden;
        transition: right .5s;
    }
    #main-menu.main-menu--open {
        right: 0;
    }
    #main-menu .main-menu__item {
        padding: 30px;
    }
    .mobile-menu {
        display: inline;
        width: 20px;
        cursor: pointer;
        z-index: 30;
    }
    .mobile-menu--open {
        position: fixed;
        right: 20px;
    }
    .main-menu--filters {
        width: 100%;
    }
    .main-menu__search {
        width: 100%;
    }
    .main-menu__search--active {
        grid-column: 2/3;
    }
    .main-menu__search-box {
        grid-column: 1/2;
        height: 50px;
    }
    /* ------------------------------------------------------- */
    /* projects */
    /* ------------------------------------------------------- */
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-container {
        max-width: 100%;
    }
    .card {
        width: 100%;
    }
    .card__image {
        width: 100%;
    }
}